[Unit]
Description=MyRenault prometheus exporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10m
RuntimeMaxSec=1d
User=myrenault
ExecStart=myrenault-prometheus-exporter

[Install]
WantedBy=multi-user.target
